.form-style{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 1024px;
    margin: 10px auto;
    padding: 16px;
}

.header-style{
    background: #29b795;
    width: 100%;
    padding: 1px 10px;
    display: inline-flex;
    font-size: 70%;
    font-weight: 300;
    text-align: left;
    color: #000000;
    margin: -16px -16px 16px -16px;
}

.header-left {
    width:30%;
}

.header-right {
    width:70%;
    padding-top: 14px;
}

input, textarea, select{
    width: 200px;
}

button {
    background: #29b795;
    color: #FFFFFF;
    font-weight: bold;
}

.label {
    width: 50%;
    display: inline-flex;
    font-weight: bold;
    /*float:left;*/
}

.field {
    /*width: 48%;*/
    display: inline-flex;
    float:left;
}

span.validate {
    /*display: block;*/
    /*float: left;*/
    width: 10px;
    margin-bottom: 10px;
    color: #FF0000;
}

.row {
    /*display: flex;*/
    overflow: hidden;
    /*height: 50px;*/
    /*margin-bottom: 7px;*/
    margin-bottom: 20px;
}

.row-big {
    /*display: flex;*/
    overflow: hidden;
    height: 100px;
}

.row-buttom {
    /*display: flex;*/
    overflow: hidden;
    text-align: center;
    background-color: #cccccc;
    height: 50px;
    width: 100%;
}

.language-selector{
    background: transparent;
}

.subtitle{
    text-decoration: underline;
    margin-top: 0;
}

.left {
    float:left;
    width:48%;
    display: inline-flex;
}

.preview{
    display: inline-flex;
}

.right {
    float:right;
    width:48%;
    display: inline-flex;
}

.parent {
    display: table
}

.child {
    display: table-cell;
    vertical-align: middle;
}

ul{
    list-style:none;
    padding-left: 0;
}